body{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    background-color: #0F0F3A;
    /*background: radial-gradient(#f0f, #000);*/
    background: radial-gradient(center, 50%);
}
.align-site{
    width: 75em;
    margin: 0 auto;
}
.page__header:after{
    clear: both;
    content: "";
    display: block;
}
.logo__home{
    text-decoration: none;
    float: left;
}
.logo__home .logo__figure{
    margin: 0;
}
.logo__home .logo__img{
    width: 20em;
}
.site-nav .site-nav__list{
    margin: 0;
    padding: 0;
    font-size: 0;
    float: right;
}
.site-nav .site-nav__item{
    font-size: 1rem;
    display: inline-block;
}
.site-nav .site-nav__link{
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 3em 1em;
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
    display: block;
    font-weight: 100;
}
.site-nav .site-nav__link:hover{
    background-color: #E64A19;
}
/*posts grid*/
.grid{
    padding: 3em 0 6em 0;
}
.grid:after{
    clear: both;
    content: "";
    display: block;
}
.grid__col-1{
    position: relative;
    padding: 1em 0;
    float: left;
    width: 50%;
}
.grid__col-2{
    position: relative;
    padding: 1em 0;
    float: right;
    width: 49.7%;
}
.post{
    max-width: 300px;
    height: 227px;
    border-radius: 1em;
    overflow: hidden;
}
.post .post__figure{
    margin: 0;
}
.post__figure--orange{
    background-color: #E64A19;
}
.post__figure--purple{
    background-color: #5D4EA0;
}
.post .post__img{
    width: 100%;
    opacity: 0.5;
}
.post .post__view{
    float: right;
    width: 7em;
    text-align: center;
    border-radius: 1em;
    position: relative;
    top: -14em;
    right: .8em;
}
.post__view--orange{
    background-color: #E64A19;
}
.post__view--purple{
    background-color: #5D4EA0;
}
.post .post__number{
    color: white;
    margin: 0;
    display: inline-block;
    text-align: center;
    font-size: .8em;
}
.post .post__info{
    padding: 0 .7em;
    position: relative;
    top: -4.5em;
    opacity: 0.9;
}
.post__info--orange{
    background-color: #E64A19;
}
.post__info--purple{
    background-color: #5D4EA0;
}
.post .post__link{
    text-decoration: none;
    color: #FFFFFF;
    float: left;
    width: 73%;
    top: -9px;
    position: relative;
}
.post .post__title{
    font-size: 1em;
    font-weight: 200;
    margin: 0;
}
.post .post__text{
    font-size: .7em;
    font-weight: 100;
    margin: .2em 0 0 0;
}
.post .post__date{
    float: right;
    width: 27%;
}
.post .post__detail{
    margin: 0;
    font-size: .7em;
    color: #CCCCCC;
    line-height: 3em;
}
.post__info:after{
    clear: both;
    display: block;
    content: "";
}
.box{
    max-width: 600px;
    height: 227px;
    border-radius: 1em;
    overflow: hidden;
    margin-bottom: .3em;
}
.box--purple{
    background-color: #5D4EA0;
}
.box--orange{
    background-color: #E64A19;
}
/*post list*/
.grid__list{
    margin: 0;
    padding: 0;
}
.grid__list .grid__item{
    display: inline-block;
    width: 49.5%;
}
.
